<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration

  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<package name="kr.co.project3.User" />
		<package name = "kr.co.project3.pages.alarm"/>
		<package name ="kr.co.project3.log"/>
		<package name="kr.co.project3.dashBoard"/>
		<package name= "kr.co.project3.detailed"/>
	</typeAliases>
	

</configuration> 

