<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

    <!-- id중복 체크 -->
    <select id = "Id_Check" resultType="int">
    	select count(*) from user
    	where user.id = #{id}
    </select>
    
    <insert id = "userJoin">
    	insert into user(id,passwd,name,email,hp,date)
    	VALUES(#{id}, #{passwd}, #{name},#{email}, #{hp}, now())
    </insert>
    <select id ="Login" resultType = "int">
    	select count(*) from user
    	where user.id = #{id} and user.passwd = #{passwd}

    </select>
    <select id = "Login_Ingo" resultType = "UserDTO">
    	select id, name from user
    	where user.id = #{id} and user.passwd = #{passwd}
    
    </select>


</mapper> 


